/* Add this to your CSS file or style tag */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.btn-loading::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.comment-text ul {
  background-color: transparent;
  list-style: none;
  padding-left: 0;
}

@keyframes fadeAnimation {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.fade-animation {
  animation-name: fadeAnimation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
